# 문의 이메일
RESEND_API_KEY=
EMAIL_TO=

# 카카오 지도
NEXT_PUBLIC_KAKAO_MAP_APP_KEY=
KAKAO_REST_API_KEY=

# 향후 공간정보 및 공공데이터 연동
VWORLD_API_KEY=
VWORLD_DOMAIN=
DATA_GO_KR_SERVICE_KEY=
ONBID_SERVICE_KEY=
DATABASE_URL=
REDIS_URL=
